body {
  background-color: #e6f7ff;
  color: #333; 
  font-family: 'Roboto', sans-serif; 
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}


.app-container {
  max-width: 800px;
  margin: 50px auto; 
  padding: 20px;
  border-radius: 10px;
  background-color: #fff; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #ff0000; 
  text-align: center; 
  margin-bottom: 30px; 
}


button:hover {
  background-color: #dc143c; 
}


.dia-container {
  margin-bottom: 20px; 
}


.periodo-container {
  margin-bottom: 10px;
  padding: 10px; 
  border-radius: 5px; 
  border: 1px solid #d9534f;
  background-color: #ffe4e1;
}

.footer {
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #000;
  background-color: #d9534f;
  border-top: 1px solid #ccc;
  border-radius: 25px;
}
