/* Definição de variáveis para cores */
:root {
  --background-color: #e6f7ff;
  --primary-color: #26425A;
  --secondary-color: #ffffff;
  --text-color: #333;
  --highlight-color: #000000;
  --button-hover-color: #26425a5d;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.app-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 8px var(--box-shadow-color);
}

h1 {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 30px;
}

.input-container {
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  background-color: var(--secondary-color);
}

h2 {
  color: var(--primary-color);
  margin-bottom: 10px;
}

.periodo-container {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  background-color: #ffffff;
}

label {
  display: inline-block;
  width: 100px;
  color: var(--primary-color);
}

input[type="text"],
select {
  width: calc(100% - 110px);
  padding: 8px;
  border: none;
  border-bottom: 1.5px solid var(--highlight-color);
  border-radius: 5px;
  background-color: var(--secondary-color);
  margin-bottom: 10px;
}

input[type="text"]:focus,
select:focus {
  border-color: var(--highlight-color);
  outline-style: groove;
}

button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: var(--button-hover-color);
}

#remover{
  display: flex;
  padding: 5px;
  margin-top: 10px;
  width: auto;
  
}